body {
	text-align: center;
	display: block;
}

ul div {
	display: inline;	
}

li {
	display: inline;
	
}

#header {
	text-align: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

#left {
	text-align: left;
}

#right {
	margin-left: 924px;
}

#logo {
	height: 92px;
	width: 272px;
	padding-top: 109px;
	
}

#sb {
	
	height: 26px;
	width: 525px;
	margin-top: 18px;
}

#mic {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) no-repeat -3px 0;
	background-size: 24px 24px;
	height: 25px;
	width: 25px;
	display: inline-block;
	position: relative;
	top: 8px;
}

#footer {
	text-align: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.button {
	border-radius: 2px;
}

.hdrimgs {
	background-image: url('https://ssl.gstatic.com/gb/images/i2_2ec824b0.png');
	background-size: 528px 68px;
	height: 30px;
	width: 30px;
	display: inline-block;
}

.hdrimgs2 {
	background-image: url('https://lh4.googleusercontent.com/-gLXuOriPnug/AAAAAAAAAAI/AAAAAAAAAAA/95xAYapHoJk/s64-c-mo/photo.jpg');
	background-size: 32px 32px;
	height: 32px;
	width: 32px;
	display: inline-block;
}

